NODE_ENV=local

APP_TITLE=
CONTACT_EMAIL=

APP_PORT=4000

API_KEY=

JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=3d
JWT_REFRESH_EXPIRES_IN=7d

API_URL=
MCP_ACCESS_TOKEN_TTL=1h
MCP_REFRESH_TOKEN_TTL=30d

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM_NAME=
INFO_EMAIL=

SUPPORT_EMAIL=

REDIS_HOST=redis
REDIS_PORT=6380

OPENAI_CUSTOM_API_KEY=
OPENAI_INTERNAL_API_KEY=
OPENAI_CONTEXT_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
APIFY_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_MASTER_FOLDER_ID=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

MINIO_HOST=dev-
MINIO_PORT=
MINIO_USER=
MINIO_PASS=
MINIO_BUCKET=

URL_SITE_MAIN=
EXTENSION_FRONTEND_URL=
